<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="icon" href="../static/img/favicon.svg" type="image/gif" sizes="16x16">
    <meta charset="utf-8"/>
    <title>Kortsis Harita</title>
    <meta name="author" content="Ayberk Bozkuş, Levent Güner, Cavit Özbay">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../static/js/plotly.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>

</head>
<body>
<div id="map">
    <div id="left" class="sidebar flex-center left collapsed">
        <div style="background-color: #ffffff3d; backdrop-filter: blur(5px);"
             class="sidebar-content rounded-rect flex-center sidebarleft">
            <div class='rows labels'>
                <div>
                    <div class="menuHeader">

                        <button class="btn" onclick="openCity('content1')"><img width="30" height="30" src="../static/img/dashboard/containers.svg"
                                                                                alt="piechart"></button>
                        <button class="btn" onclick="openCity('content2')"><img width="30" height="30" src="../static/img/dashboard/ui.svg"
                                                                                alt="layers"></button>


                    </div>
                </div>
                <div id="content1" style="width:350px;" class="w3-container city">
                    <div class="contentBody">
                        <div class="searchPerson" style="width:300px;margin-top:10px;">
                            <input class="searchText" type="text" style="width:100px;" id="searchPerson"
                                   placeholder="Araç Numarası">
                            <button onclick="searchFunction()">Ara</button>
                            <button id="allUsers" onclick="returntoAllUsers()">Tüm Araçlar</button>
                        </div>
                        <canvas id="optimizationChart" style="width:330px; height: 230px;"></canvas>
                        <div class="container rightRow containerMargin" style="height: 100%">
                            <p id="personLastDataDate"></p>
                            <div class="row">
                                <div class="column">

                                    <div href="#myModalPerson" class="card btn btn-settings" data-backdrop="false" data-toggle="modal" style="background-color: rgba(33, 150, 243,0.2);border-width: 3px;border-color:rgb(33, 150, 243); height: 50px; width: 290px;">

                                        <h2 style="margin: -2px;color:#333;font-weight: bold;" class="card-header">Derin Kargo Analizi</h2>
                                        <p class="card-header"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div id="divtotalCargo" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img class="cardIkon" src="../static/img/dashboard/cargoNumber.svg" style="margin-top:4px;" alt="hasta" width="50"
                                             height="50">
                                        <h2 class="card-header">Toplam Kargo Sayısı</h2>
                                        <h2 class="card-header" style="font-weight: 900;">37</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divtotalTime" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img src="../static/img/dashboard/cargoTime.svg" style="margin-top:8px;" class="cardIkon" alt="hasta">
                                        <h2 class="card-header">Toplam Süre</h2>
                                        <h2 class="card-header" style="font-weight: 900;">8.17 saat</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div id="divtotalRoad" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img class="cardIkon" src="../static/img/dashboard/road.svg" style="margin-top:8px;" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Toplam Yol</h2>
                                        <h2 class="card-header" style="font-weight: 900;">230 km</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divprecisionRange" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img class="cardIkon" src="../static/img/dashboard/breakable.svg" style="margin-top:8px;" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Hassasiyet Oranı</h2>
                                        <h2 class="card-header" style="font-weight: 900;">%32</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div id="divsuccessRate" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img class="cardIkon" src="../static/img/dashboard/success.svg" style="margin-top:8px;" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Dağıtım Başarısı</h2>
                                        <h2 class="card-header" style="font-weight: 900;"> %95 </h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divdeliveryType" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:135px;">
                                        <img class="cardIkon" src="../static/img/dashboard/type.svg" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Teslimat Şekli</h2>
                                        <h2 class="card-header" style="font-weight: 900;">%80 ev</h2>
                                        <h2 class="card-header" style="font-weight: 900;">%20 yedek</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content2" style="width:350px;" class="w3-container city">
                    <div class="contentBody">
                        <div class="container" style="height: 100%">
                            <h1 class="RightMenuHeader">Başarılı Teslimat Oranı</h1>
                            <div class='session'>
                                <div class='row_console colors'>
                                </div>
                                <div class='row_console labels'>
                                    <div class='label' style="font-size:10px;color:rgb(255,53,97)">%0</div>
                                    <div class='label' style="font-size:10px;color:rgb(255,105,97)">%20</div>
                                    <div class='label' style="font-size:10px;color:rgb(255,157,97)">%40</div>
                                    <div class='label' style="font-size:10px;color:rgb(255,210,97)">%60</div>
                                    <div class='label' style="font-size:10px;color:rgb(187,215,108)">%80</div>
                                    <div class='label' style="font-size:10px;color:rgb(119,221,119)">%100</div>
                                </div>
                                <!--<div class='session' id='sliderbar'>
                                   <h2>Saat: <label id='active-hour'>12PM</label></h2>
                                   <input id='slider' class='row_console timeLine' type='range' min='0' max='23' step='1'
                                      value='23'/>
                                </div>-->


                                <div class="shadowBG" style="height: 220px;">

                                    <div>
                                        <div style="margin-top:10px;" class="container">
                                            <div class='DateWidth col-md-5'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker6'>
                                                        <input type='text' class="form-control"/>
                                                        <span class="input-group-addon">
                                                              <span class="glyphicon glyphicon-calendar"></span>
                                                  </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='DateWidth col-md-5'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker7'>
                                                        <input type='text' class="form-control"/>
                                                        <span class="input-group-addon">
                                                              <span class="glyphicon glyphicon-calendar"></span>
                                                  </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" href="#timeArea" data-backdrop="false"
                                                data-toggle="modal" style="margin-top:10px;margin-bottom:10px;"
                                                id="filterTimeRange" onclick="filterClick()"> Filtrele
                                        </button>
                                        <button class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;back" id="reset"
                                        onclick="resetMap()">Sıfırla
                                        </button>


                                    </div>
                                </div>
                                <div class="shadowBG">
                                    <div id="menu2">
                                        <label class="radio_map_style">Street
                                            <input id="streets-v11" type="radio" checked="checked" name="radio">
                                            <span class="checkmark2"></span>
                                        </label>
                                        <label class="radio_map_style">Light
                                            <input id="light-v10" type="radio" name="radio">
                                            <span class="checkmark2"></span>
                                        </label>
                                        <label class="radio_map_style">Dark
                                            <input id="dark-v10" type="radio" name="radio">
                                            <span class="checkmark2"></span>
                                        </label>
                                        <label class="radio_map_style">Outdoors
                                            <input id="outdoors-v11" type="radio" name="radio">
                                            <span class="checkmark2"></span>
                                        </label>
                                    </div>
                                    <div id="menu">
                                        <label class="map_changer">Heatmap
                                            <input type="checkbox" checked="checked" onclick="controlMap(id)"
                                                   id="temp-heat-check">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="map_changer">Points
                                            <input type="checkbox" checked="checked" onclick="controlMap(id)"
                                                   id="temp-point-check">
                                            <span class="checkmark"></span>
                                        </label>
                                        <!--<label class="map_changer">Last 24 Hours
                                        <input type="checkbox" checked="checked" id="cumulative-checkbox"
                                           onclick="filterForLastDay(id)">
                                        <span class="checkmark"></span>
                                        <button id="play" onclick="playHeatmap()">Oynat</button>

                                        </label>-->

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidbear-toggle rounded-rect left" onclick="toggleSidebar('left')">

                <div class="container" onclick="myFunction(this)">
                    <div class="bar1"> +</div>

                </div>
            </div>
        </div>
    </div>
    <div id="right" class="sidebar flex-center right collapsed">
        <div style="backdrop-filter: blur(7px);background-color:#ffffff3d;"
             class="sidebar-content rounded-rect flex-center sidebarright">
            <div class='rows labels'>
                <div>
                    <div class="menuHeader">
                        <button class="btn" onclick="openRightMenu('content3')"><img width="30" height="30" src="../static/img/dashboard/container.svg"
                                                                                     alt="piechart"></button>
                        <button class="btn" onclick="openRightMenu('content5')"><img width="30" height="30" src="../static/img/dashboard/track.svg"
                                                                                     alt="city"></button>

                    </div>
                </div>
                <div id="content3" style="width:350px; " class="w3-container rightSideBarContent">
                    <div class="contentBody">
                      <h1>Akıllı Kargo Analizi</h1>
                        <div class="container" style="max-width: 300px;">
                            <canvas id="pieChart1" style="height: 400px"></canvas>
                        </div>
                        <div class="container rightRow containerMargin" style="height: 100%">
                          <h1>Genel Bilgiler</h1>
                            <div class="row">
                                <div class="column">
                                    <div id="divdailyTotalCargo" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img class="cardIkon" src="../static/img/dashboard/box.svg" style="margin-top:2px;" alt="hasta" width="50"
                                             height="50">
                                        <h2 class="card-header">Günlük Toplam Kargo Sayısı</h2>
                                        <h2 class="card-header" style="font-weight: 900;">5982</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divtotalSuccessRate" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img src="../static/img/dashboard/deliveryBox.svg" style="margin-top: 10px!important;" class="cardIkon" alt="hasta">
                                        <h2 class="card-header">Toplam Başarı Oranı</h2>
                                        <h2 class="card-header" style="font-weight: 900;">%92</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div id="divmostCargo" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img class="cardIkon" src="../static/img/dashboard/map.svg" alt="hasta" style="margin-top:4px;"
                                             width="50" height="50">
                                        <h2 class="card-header">En çok Kargo Dağıtılan İlçe</h2>
                                        <h2 class="card-header" style="font-weight: 900;">Beşiktaş</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divcargoAverange" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img class="cardIkon" src="../static/img/dashboard/time.svg" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Ortalama Günlük Kargo Dağıtım Süresi</h2>
                                        <h2 class="card-header" style="font-weight: 900;">8.32 saat</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div id="divbranchSuccess" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img class="cardIkon" src="../static/img/dashboard/warehouse.svg" style="margin-top:4px;" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Şube Başarı İstatistikleri</h2>
                                        <h2 class="card-header" style="font-weight: 900;">%87</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="divactiveTruck" class="card"
                                         style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                        <img class="cardIkon" src="../static/img/dashboard/truck.svg" style="margin-top: 10px!important;" alt="hasta"
                                             width="50" height="50">
                                        <h2 class="card-header">Aktif Araç Sayısı</h2>
                                        <h2 class="card-header" style="font-weight: 900;">2305</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content5" style="width:350px; " class="w3-container rightSideBarContent">
                    <div class="contentBody">
                        <div class="container containerMargin" style="height: 10px; margin-top: 5px;">
                            <h3 style="margin-bottom: -10px;" id="townNameText"></h3>

                            <h3> Bölge Haritası </h3>
                            <!--
                            <select id="cities" class="selectMenu">
                                <option value="sariyer">Sarıyer</option>
                                <option value="besiktas">Beşiktaş</option>
                                <option value="kagithane">Kağıthane</option>
                                <option value="eyupsultan">Eyüpsultan</option>
                                <option value="kucukcekmece">Küçükçekmece</option>
                                <option value="esenler">Esenler</option>
                            </select>
                            -->
                        </div>
                        <div class="row">
                            <div class="column">
                                <div href="#myModalDepthArea" class="card btn btn-settings" data-backdrop="false" data-toggle="modal" style="background-color: rgba(33, 150, 243,0.2);border-width: 3px;border-color:rgb(33, 150, 243); height: 50px; width: 290px;">

                                    <h2 style="margin: -2px;color:#333;font-weight: bold;" class="card-header">Derin Bölge Analizi</h2>
                                    <p class="card-header"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div id="divbranchdailyTotalCargo" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img class="cardIkon" style="margin-top:5px;" src="../static/img/dashboard/cargoNumber.svg" alt="hasta" width="50"
                                         height="50">
                                    <h2 class="card-header">Günlük Toplam Kargo Sayısı</h2>
                                    <h2 class="card-header" style="font-weight: 900;">658</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div id="divbranchtotalSuccessRate" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img src="../static/img/dashboard/cargoTime.svg" style="margin-top:10px;" class="cardIkon" alt="hasta">
                                    <h2 class="card-header">Toplam Başarı Oranı</h2>
                                    <h2 class="card-header" style="font-weight: 900;">%89</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div id="divbranchmostCargo" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img class="cardIkon" style="margin-top:5px;" src="../static/img/dashboard/road.svg" alt="hasta"
                                         width="50" height="50">
                                    <h2 class="card-header">En çok Kargo Dağıtılan Semt</h2>
                                    <h2 class="card-header" style="font-weight: 900;">Dikilitaş</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div id="divbranchcargoAverange" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img class="cardIkon" src="../static/img/dashboard/breakable.svg" alt="hasta"
                                         width="50" height="50">
                                    <h2 class="card-header">Ortalama Günlük Kargo Dağıtım Süresi</h2>
                                    <h2 class="card-header" style="font-weight: 900;">8.13 saat</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div id="divbranchbranchSuccess" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img class="cardIkon" style="margin-top:5px;" src="../static/img/dashboard/success.svg" alt="hasta"
                                         width="50" height="50">
                                    <h2 class="card-header">Şube Başarı İstatistikleri</h2>
                                    <h2 class="card-header" style="font-weight: 900;">%85</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div id="divbranchactiveTruck" class="card"
                                     style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);height:150px;">
                                    <img class="cardIkon" style="margin-top:10px;" src="../static/img/dashboard/type.svg" alt="hasta"
                                         width="50" height="50">
                                    <h2 class="card-header">Aktif Araç Sayısı</h2>
                                    <h2 class="card-header" style="font-weight: 900;">105</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <h2 class=" contentHeader card-header " style="margin-bottom: 30px;">İlçe Şube Analizi</h2>
                            <table class="table mobileTable">
                                <tbody>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Şube Kodu</th>
                                    <th scope="col">Dağıtımdaki Kargo</th>
                                    <th scope="col">Başarı Oranı</th>
                                </tr>
                                <tr>
                                    <th scope="col">1</th>
                                    <td>
                                        <p class="card-header">0023</p>
                                    </td>
                                    <td>
                                        <p class="card-header">178</p>
                                    </td>
                                    <td>
                                        <p class="card-header">%97</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col">2</th>
                                    <td>
                                        <p class="card-header">0043</p>
                                    </td>
                                    <td>
                                        <p class="card-header">213</p>
                                    </td>
                                    <td>
                                        <p class="card-header">%94</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <p class="card-header">0013</p>
                                    </td>
                                    <td>
                                        <p class="card-header">198</p>
                                    </td>
                                    <td>
                                        <p class="card-header">%91</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>
                                        <p class="card-header">0029</p>
                                    </td>
                                    <td>
                                        <p class="card-header">245</p>
                                    </td>
                                    <td>
                                        <p class="card-header">%87</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>
                                        <p class="card-header">0019</p>
                                    </td>
                                    <td>
                                        <p class="card-header">186</p>
                                    </td>
                                    <td>
                                        <p class="card-header">%85</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidbear-toggle rounded-rect right" onclick="toggleSidebar('right')">
                <div class="container" onclick="myFunction(this)">
                    <div class="bar1"> +</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-------------------------------------------------------------------->

<!-------------------------------------------------------------------->

<!-------------------------------------------------------------------->

<div id="myModalPerson" class="modal fade">
    <div class="modal-dialog" style=" margin: auto;padding:20px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Araç Bazlı Derin Analiz </h4>
            </div>
            <div class="modal-body">

                <div class="container rightRow containerMargin" style="height: 100%">
                  <div class="row">
                      <div class="column" style="width: 50% !important;">
                          <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                            <div style="width:300px; height: 300px;" >
                                <canvas id="radar-chart" width="300" height="300"></canvas>
                            </div>
                          </div>
                      </div>
                      <div class="column" style="width: 50% !important;">
                          <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                            <div style="width:300px; height: 300px;margin-top:-10px;" > <canvas id="pie-chart" width="300" height="300"></canvas> </div>
                          </div>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="column" style="width: 50% !important;">
                            <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                              <div style="width:300px; height: 300px;" > <canvas id="line-chart" width="300" height="300"></canvas> </div>
                            </div>
                        </div>
                        <div class="column" style="width: 50% !important;">
                          <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                            <div style="width:300px; height: 300px;margin-top:-10px;" > <canvas id="bar-chart-grouped" width="300" height="300"></canvas> </div> </div>
                          </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </div>

  <!-------------------------------------------------------------------->

  <div id="myModalDepthArea" class="modal fade">
      <div class="modal-dialog" style=" margin: auto;padding:20px">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> Bölge Bazlı Derin Analiz - Beşiktaş </h4>
              </div>
              <div class="modal-body">

                  <div class="container rightRow containerMargin" style="height: 100%">
                    <div class="row">
                      <div class="column" style="width: 50% !important;">
                          <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                            <div style="width:300px; height: 300px;" > <canvas id="radarChart" width="300" height="300"></canvas> </div>
                          </div>
                      </div>
                        <div class="column" style="width: 50% !important;">
                            <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                              <div style="width:300px; height: 300px;margin-top:-10px;" > <canvas id="pieChartArea" width="300" height="300"></canvas> </div> </div>
                            </div>
                        </div>
                    </div>
                      <div class="row">
                          <div class="column" style="width: 50% !important;">
                              <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                                <div style="width:300px; height: 300px;" > <canvas id="someChartArea" width="300" height="300"></canvas> </div>
                              </div>
                          </div>
                          <div class="column" style="width: 50% !important;">
                            <div class="card" style="background-color: rgba(33, 150, 243,0.2);border-color:rgb(33, 150, 243);padding-left: 23px;width: 350px !important;height: 320px !important;">
                              <div style="width:300px; height: 300px;margin-top:-10px;" > <canvas id="mixedChart" width="300" height="300"></canvas> </div> </div>
                            </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>
    </div>

<!-------------------------------------------------------------------->

<div id="timeArea" class="modal fade" style="bottom:0;top:unset;">
    <div class="modal-dialog" style=" margin: auto;padding:20px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Time Line </h4>
            </div>
            <div class="modal-body" >

                <h3>Sayaç</h3>
                <div style="text-align: center;margin:10px;">
                    <div>
                        <input id="range-slider-text" type="text" size="100"/>
                    </div>
                    <button class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;" id="play"
                            onclick="simulateInTimeRange()">Oynat
                    </button>
                    <button class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;" id="stop"
                            onclick="stopSimulation()">Durdur
                    </button>
                    <div>
                        <span>Hız: </span>
                        <input id="speed-slider-text" type="text"/>
                    </div>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

    <!-------------------------------------------------------------------->

    <script src="../static/js/functions.js?1405201665"></script>
    <script src="../static/js/charts.js?1405201665"></script>
    <script src="../static/js/mapfunc.js?1405201665"></script>
</body>
</html>
